*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    height: 100vh;
}

.container{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    padding: 20px 40px;
}

#layout{
    width: 40vw;
    height: 40vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons{
    display: flex;
    flex-direction: column;
    padding:1rem;
    gap: 0.5em;
    align-items: center;
}

#colorPicker{
    height: 40px;
    margin-bottom: 16px;
}

.btn, #clear{
    padding: 1em 1.5em;
    display: flex;
    width: 256px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    width: 256px;
    height: 64px;
    color: hsl(0, 0%, 20%);
    background: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #65001C;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #1F83C4;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #C40036;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #65001C;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #65001C;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #1F83C4;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #C40036;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #65001C;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #65001C;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #1F83C4;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #C40036;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #65001C;
}
input[type=range]:focus::-ms-fill-upper {
    background: #65001C;
}
  
  

.selected {
    background-color: hsl(0, 100%, 25%);
    color: white;

}
.cell:hover{
    background-color: grey;
}

@media (max-width: 768px) {
    body{
        padding-top: 20px;
    }
    h1{
        text-align: center;
        
    }
    
    .container{
        flex-direction: column;
        align-items: center;
        gap: 4px;
        padding: 20px;
    }

    #layout{
        width: 70vw;
        height: 70vw;
    }

    .buttons{
        width: 100%;
        align-items: center;
    }

    .btn, #clear{
        width: 256px;
        height: 48px;
    }
    h1{
        font-size: 7vw;
    }
}

footer{
    height: 20px;
    background-color: hsl(0, 0%, 15%);
    color: white;
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.fa-brands{
    color: white;
    margin-left: 0.5rem;
}